.signupdiv{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 2rem; 

}
.signupcard{
    background:white;
    border: 1px solid rgb(23, 14, 88);
    box-shadow: 0px 4px 20px 0px #032257a6;
    border-radius: .7rem;
    height: 400px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto

 }
mat-form-field{
    width: 100%;
}
p{
    align-items: center;
}
button{
    padding: 12px 20px;
    border-radius: 30px;
    background:#0d215d;
    border: none;
    color: white;
    border-radius: 30px;
    font-size: 16px;
    text-decoration: none;
    transition: all .3s ease-in;
   
    }
    button:hover{
    background: transparent;
    color: #8b9dc7;
    border: 2px solid #cec7cb;
    }
    .main{
      background-color: beige;
      height: 740px;
    }