<div>
  
  <div class="container text-center mt-5 mb-2">
    <h2>Trainer Profiles</h2>
</div>
    
 <form class="d-flex" #searchForm="ngForm" (ngSubmit)="Search(searchForm)" >
  <input class="form-control" type="search" [(ngModel)]="search.text" name="text" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success" type="submit" >Search</button>
</form> 
<div class="container mt-3">
  <div class="row">
      <div class="col-md-4"  *ngFor ="let trainer of trainers" >
          <div class="p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="{{trainer.image}}" width="90">
              <h3 class="mt-3 name">{{trainer.trainername}}</h3><span class="work d-block">{{trainer.email}}</span><span class="work d-block">ID&nbsp;:&nbsp;{{trainer.ID}} </span>
              <div class="mt-4 about">
             
                <p class="card-text text-muted ">Phone: &nbsp;&nbsp; {{trainer.phone}}</p>
                <p class="card-text text-muted ">Highest Qualification:  &nbsp;&nbsp;{{trainer.qualification}}</p>
                <p class="card-text text-muted" >Address: &nbsp;&nbsp; {{trainer.address}}</p>
                <p class="card-text text-muted ">Skill Set:  &nbsp;&nbsp;{{trainer.skills}}</p>
                <p class="card-text text-muted">Current Company Name:  &nbsp;&nbsp;{{trainer.currentcompanyname}}</p>
                <p class="card-text text-muted ">Current Designation: &nbsp;&nbsp;{{trainer.currentdesignation}}</p>
                <p class="card-text text-muted ">ICTAK Courses Handling: &nbsp;&nbsp;{{trainer.courses}}</p>
                <p class="card-text text-muted ">Type of Employment: &nbsp;&nbsp;{{trainer.type}}</p> 
           
                  <button  (click)="deleteTrainer(trainer)" >Delete </button> &nbsp;&nbsp;  
                  <button (click)="allocateTrainer(trainer)"> Allocate</button>
                </div>
              </div>  
          </div>
      </div>
 





    <!-- <table class="table-primary">
        <thead>
            <tr>
              <th scope="col">Trainer Image</th>
              <th scope="col">Trainer Id</th>
              <th scope="col">Trainer Name</th>
              <th scope="col">Skills</th>
              <th scope="col">Email</th>
            </tr>
          </thead> 
          <tbody>
            <tr *ngFor="let i of trainers">
             <td><img [src]="i.imageurl" alt="image" id="trainer"></td>
             <td>{{i.trainerid}}</td>
             <td>{{i.trainername}}</td>
             <td>{{i.skills}}</td>
             <td>{{i.email}}</td>
            </tr>

    </table> -->
</div>
