.container-fluid{
    
    width: 740px;
    margin: auto;
    padding-bottom: 15px;
    border-radius: 10px;
    padding: 20px;
}
form{
    
    border-radius: 13px;
    padding: 20px;
    background-color:beige;
    box-shadow: 0px 4px 20px 0px #032257a6;
    border: 1px solid rgb(23, 14, 88);
}
.btn {
    position: relative;
    margin-left: 45%;
}
h3{
    font-size: larger;
    font-weight: 700;
}
button{
    padding: 12px 20px;
    background: #0d215d;
    border: none;
    color: white;
    border-radius: 30px;
    font-size: 16px;
    text-decoration: none;
    
    
    transition: all .3s ease-in;
   
    }
    button:hover{
    background: transparent;
    color: #0804f5;
    border: 2px solid #cec7cb;
    }

/* .tab{
    position: relative;
    color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 2rem;

}    

.logincard{
   
    border: 1px solid skyblue;
    border-radius: .5rem;
    width: 350px !important;
}
mat-form-field {
    width: 100%;
} */