
<br>
<!-- <span ><div style ='color: #311B92;  padding:5px;'><h3 style=" text-align: center; font-family : cursive;">{{alertMsg}}</h3></div></span> -->
<div class="box"  *ngFor ="let trainer of trainersdata">
    <div class="card ">
      <div class="row" >
        <div class="col-md-4 d-flex flex-column align-items-center">
        </div>
        <div class style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
          <div class="card-body">
            <div class="bg p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="{{trainer.image}}" width="90">
             <p class="card-title">Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  :&nbsp; {{trainer.trainername}}</p>
             <p class="card-text text-muted ">Email &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp; {{trainer.email}}</p>
             <p class="card-text text-muted ">Phone &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :&nbsp; {{trainer.phone}}</p>
             <p class="card-text text-muted" >Address &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :&nbsp; {{trainer.address}}</p>
             <p class="card-text text-muted ">Highest Qualification &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;{{trainer.qualification}}</p>
             <p class="card-text text-muted ">Skill Set &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp; {{trainer.skills}}</p>
             <p class="card-text text-muted" >Current Company Name &nbsp;: &nbsp;{{trainer.currentcompanyname}}</p>
             <p class="card-text text-muted ">Current Designation &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;{{trainer.currentdesignation}}</p>
             <p class="card-text text-muted ">ICTAK Courses Handling &nbsp;: &nbsp; {{trainer.courses}}</p>
            
            
              <button class="btn btn-success float-right text-center" routerLink="" (click)="internalTrainer(trainer)" >Internal Trainer &nbsp;</button>&nbsp;
              <button class="btn btn-success float-right text-center" routerLink="" (click)="empTrainer(trainer)" >Empanelled Trainer &nbsp;</button>&nbsp;
              <button class="btn btn-success float-right text-center" routerLink="" (click)="indexp(trainer)" >Indusrty Expert &nbsp;</button>&nbsp;
              <button class="btn btn-danger float-right text-center"  (click)="rejectTrainer(trainer)" >&nbsp; Reject &nbsp;</button>&nbsp;
              
          </div>
             
            </div>
          </div>
        </div>
      </div>    

<br>
