.main{
   
   background-color: beige;
   height: 740px;
    /* background-image: url("https://cdn.pixabay.com/photo/2018/04/28/22/03/tree-3358468_960_720.jpg");  */

}



.logindiv{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 4rem;
   
}

.logincard{
 background:white;
border-radius: .7rem;
border: 1px solid rgb(23, 14, 88);
box-shadow: 0px 4px 20px 0px #032257a6;
height: 400px;
width: 500px;
/* margin-left: 40%; */
padding: auto;
display: block;
margin-left: auto;
margin-right: auto;
top: 2em;


}
mat-form-field{
    width: 100%;
}
button{
    padding: 12px 20px;
    background: #0d215d;
    border: none;
    color: white;
    border-radius: 30px;
    font-size: 16px;
    text-decoration: none;
    transition: all .3s ease-in;
   
    }
    button:hover{
    background: transparent;
    color: #5f83a8;
    border: 2px solid #cec7cb;
    }

   