<div class="container-fluid">
    <h2 style="text-align:center">Fill the requirements</h2>
    <form #allocationForm="ngForm" (ngSubmit)="allocationForm.form.valid && onclick(allocationForm)" >

        <label>Start Date </label>
        <input type="date" class="form-control"  name="startdate" popupHeight='200px' popupWidth = '250px' [(ngModel)]="adminform.startdate" required #startdate="ngModel">
        <!-- [ngClass]="{'is-invalid':submit&&f.startdate.errors}">
        <div *ngIf='submit&&f.startdate.errors' class="invalid-feedback"> -->
            <!-- <div *ngIf='f.startdate.errors'>Start date is required</div> -->
          <!-- </div> -->
        <label>End Date </label>
        <input type="date" class="form-control" name="enddate" popupHeight='200px' popupWidth = '250px' [(ngModel)]="adminform.enddate" required #enddate="ngModel">
      
             <!-- <div *ngIf='f.enddate.errors'>End date is required</div> -->
                     <label>Start Time </label>
        <input type="time" class="form-control"name="startime" popupHeight='200px' popupWidth = '250px' [(ngModel)]="adminform.starttime" required #starttime="ngModel">
       
        <label>End Time </label>
        <input type="time" class="form-control" name="endtime" popupHeight='200px' popupWidth = '250px' [(ngModel)]="adminform.endtime" required #endtime="ngModel">
      

          <label> Courses Name </label>
          <select class="form-control" name="coursesname" popupHeight='200px' popupWidth = '250px' [(ngModel)]="adminform.coursesname" required #coursesname="ngModel">
            <option >Select Courses</option>
            <option *ngFor="let i of courselist">{{i}}</option>
          </select>

      <label> Courses ID </label>
          <select class="form-control" name="courseid" popupHeight='200px' popupWidth = '250px' [(ngModel)]="adminform.courseid" required #courseid="ngModel">
            <option >Select ID</option>
            <option *ngFor="let i of Courseid">{{i}}</option>
          </select>


      <label > Batch ID </label>
      <select class="form-control" name="batchid" popupHeight='200px' popupWidth = '250px' [(ngModel)]="adminform.batchid" required #batchid="ngModel">
        <option >Select ID</option>
        <option *ngFor="let i of Batchid">{{i}}</option>
      </select>
  <label>  Meeting Link/Venue </label>
  <input type="url" class="form-control" name="link" popupHeight='200px' popupWidth = '250px' [(ngModel)]="adminform.link" required #link="ngModel">

  
<br>
<div style="text-align: center;">
   <button type="submit"  class="btn">Submit</button></div>
</form>
</div>