
.navbar-nav{
    margin-left: 12cm;
}
.nav-item{
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    font-size: 15px;
    font-weight: 900;
    color: rgb(248, 229, 229);
}a{
   
    text-decoration: none;
}a:hover{
    color: rgb(246, 245, 245);
}
h1{
    margin-left: 5px;
    margin-top: 12px;
    font-weight:500 ;
    color: white;
}  

.btn{
    margin-right: 5px;
    padding: 1px;
}
.nav-link{
    margin-top: 10px;
    display: flex;
    font-size:15px;
    font-weight: 900;
    color: rgb(237, 226, 226);
    
    
}a:hover{
    color: rgb(31, 137, 217);
}
.navbar{
    background-color: rgb(41, 43, 104);
}