<div class="main">
<div class="container" >
 <marquee class="slider">
    <h1> Welcome to ICTAK Trainer Management System</h1>
</marquee>   


<div class="card" >
    <img class="card-img-top" src="/assets/images/18940.jpg" alt="Card image cap">
    <div class="card-body">
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
    </div>
  </div>
</div>

<!-- <div>
  <p>There's a better way to </p>
</div> -->

</div>
