<div class="main">
<div class="container" >
 <marquee class="slider">
    <h1> Welcome to ICT Academy of Kerala's Trainer Management System</h1>
</marquee>   


<div class="card" >
    <img class="card-img-top" src="/assets/images/18940.jpg" alt="Card image cap">
    <div class="card-body">
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
    </div>
  </div>
</div>

<div class="des">
  <p>ICT Academy of Kerala provides the best quality education to upskill the youths across the state in various sectors. Join our team to shape the future !! </p>
</div>

</div>
